- name: TLS for Elasticsearch
  hosts: hosts
  become: yes

#MAKE SURE THAT YOU HAVE ALREADY ENROLLED KIBANA AND ELASTICSEARCH MANUALLY
#USE THE SCRIPT IF KIBANA AND ELASTICSEARCH ARE ON THE SAME MACHINE

  vars:
#---------------Conf VAR--------------------
    ES_CONF: /etc/elasticsearch/elasticsearch.yml

    ES_NODE_NAME: "NAME"
    HOSTNAME: "FQDN"
    ES_CERT_DIR: /PATHTO/certs
    ES_CERT: /PATHTO/elastic.crt
    ES_KEY: /PATHTO/elastic.key
    ES_CA: /PATHTO/roots.pem

#---------------Certificate VAR--------------
    es_cert_dir: /PATHTO/certs
    es_fqdn: FQDN
    es_cert: elastic.crt
    es_key: elastic.key
    es_root_ca: roots.pem
    es_pass_jwk: pass_jwk.txt
    es_step_ca_url: https://API-Step-CA:port
    es_san_list:
        - FQDN
        - IP #If needed
    es_service_name: cert-renewer-elastic
    es_service_fullname: cert-renewer-elastic
    es_username: elasticsearch


  tasks:
    - name: Maj
      apt:
        update_cache: yes

    - name: Install depend
      apt:
        name:
          - apt-transport-https
          - gnupg
          - gpg
          - ca-certificates
        state: present
        update_cache: yes


#--------------------Certification--------------------


    - name: Add Smallstep GPG key
      ansible.builtin.get_url:
        url: https://packages.smallstep.com/keys/apt/repo-signing-key.gpg
        dest: /etc/apt/trusted.gpg.d/smallstep.asc
        mode: '0644'

    - name: Add Smallstep APT repository
      ansible.builtin.apt_repository:
        repo: "deb [signed-by=/etc/apt/trusted.gpg.d/smallstep.asc] https://packages.smallstep.com/stable/debian debs main"
        state: present
        filename: smallstep

    - name: Update APT cache after adding repository
      ansible.builtin.apt:
        update_cache: yes

    - name: Install step-cli
      ansible.builtin.apt:
        name: step-cli
        state: present


    - name: Ensure cert directory exists for Elasticsearch
      ansible.builtin.file:
          path: "{{ es_cert_dir }}"
          state: directory
          owner: elasticsearch
          group: "{{ es_username }}"
          mode: '0660'
          recurse: yes

    - name: Deploy CA for Elasticsearch
      ansible.builtin.copy:
          src: files/roots.pem
          dest: "{{ es_cert_dir }}/{{ es_root_ca }}"
          mode: '0644'

    - name: Deploy JWK Token for Elasticsearch
      ansible.builtin.copy:
          src: files/pass_jwk.txt
          dest: "{{ es_cert_dir }}/{{ es_pass_jwk }}"
          mode: '0644'

    - name: Generate Elasticsearch certificate
      ansible.builtin.command: >
          step ca certificate {{ es_fqdn }}
          {{ es_cert_dir }}/{{ es_cert }} {{ es_cert_dir }}/{{ es_key }}
          --provisioner acmejwk
          --provisioner-password-file {{ es_cert_dir }}/{{ es_pass_jwk }}
          --ca-url {{ es_step_ca_url }}
          --root {{ es_cert_dir }}/{{ es_root_ca }}
          {% for san in es_san_list %} --san {{ san }} {% endfor %}
          --force
      args:
          creates: "{{ es_cert_dir }}/{{ es_cert }}"

    - name: Deploy systemd service for Elasticsearch
      ansible.builtin.copy:
          src: files/{{ es_service_fullname }}.service
          dest: /etc/systemd/system/{{ es_service_fullname }}.service
          mode: '0644'

    - name: Deploy systemd timer for Elasticsearch
      ansible.builtin.copy:
          src: files/{{ es_service_fullname }}.timer
          dest: /etc/systemd/system/{{ es_service_fullname }}.timer
          mode: '0644'

    - name: Reload systemd
      ansible.builtin.systemd:
          daemon_reload: yes

    - name: Enable and start cert-renewer timer for Elasticsearch
      ansible.builtin.systemd:
          name: "{{ es_service_fullname }}.timer"
          enabled: yes
          state: started

    - name: Enable and start cert-renewer service for Elasticsearch
      ansible.builtin.systemd:
          name: "{{ es_service_fullname }}.service"
          enabled: yes
          state: started

    - name: Remove JWK password file after initial certificate creation for Elasticsearch
      ansible.builtin.file:
          path: '{{ es_cert_dir }}/{{ es_pass_jwk }}'
          state: absent

    - name: Reload systemd
      ansible.builtin.systemd:
          daemon_reload: yes


#-------------------Access------------------------

    - name: Ensure Elasticsearch config directory ownership
      ansible.builtin.file:
        path: /etc/elasticsearch
        state: directory
        recurse: yes
        owner: root
        group: elasticsearch
        mode: '0750'

    - name: Set Elasticsearch certs directory permissions
      ansible.builtin.file:
        path: /etc/elasticsearch/certs
        state: directory
        owner: root
        group: elasticsearch
        mode: '0750'

    - name: Find all Elasticsearch cert files
      ansible.builtin.find:
        paths: /etc/elasticsearch/certs
        file_type: file
      register: es_cert_files

    - name: Set permissions on Elasticsearch cert files
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: root
        group: elasticsearch
        mode: '0640'
      loop: "{{ es_cert_files.files }}"

    - name: Set Elasticsearch roots.pem permissions
      ansible.builtin.file:
        path: /etc/elasticsearch/certs/roots.pem
        owner: root
        group: elasticsearch
        mode: '0644'


#---------------------TLS Configuration ES---------------------


    - name: Remove old Elasticsearch HTTP SSL block
      ansible.builtin.replace:
        path: /etc/elasticsearch/elasticsearch.yml
        regexp: '^xpack\.security\.http\.ssl:.*(\n\s+.*)*'
        replace: ''

    - name: Remove old Elasticsearch Transport SSL block
      ansible.builtin.replace:
        path: /etc/elasticsearch/elasticsearch.yml
        regexp: '^xpack\.security\.transport\.ssl:.*(\n\s+.*)*'
        replace: ''

    - name: Set NodeName
      ansible.builtin.lineinfile:
        path: "{{ ES_CONF }}"
        regexp: '^node.name:'
        line: "node.name: {{ ES_NODE_NAME }}"
        backup: yes

    - name: Add new Elasticsearch SSL config
      ansible.builtin.blockinfile:
        path: /etc/elasticsearch/elasticsearch.yml
        marker: "# {mark} Managed by Ansible - SSL Config"
        block: |
            xpack.security.http.ssl.enabled: true
            xpack.security.transport.ssl.enabled: true
            xpack.security.http.ssl.key: "{{ ES_KEY }}"
            xpack.security.http.ssl.certificate: "{{ ES_CERT }}"
            xpack.security.http.ssl.certificate_authorities: "{{ ES_CA }}"
            xpack.security.transport.ssl.key: "{{ ES_KEY }}"
            xpack.security.transport.ssl.certificate: "{{ ES_CERT }}"
            xpack.security.transport.ssl.certificate_authorities: "{{ ES_CA }}"
            discovery.seed_hosts: [ "{{ HOSTNAME }}" ]


    - name: Restart Elasticsearch service
      ansible.builtin.service:
        name: elasticsearch
        state: restarted
