- name: Install Elastic and Kibana
  hosts: hosts
  become: yes

  vars:
#---------------Conf VAR--------------------
    ES_CONF: /etc/elasticsearch/elasticsearch.yml
    KB_CONF: /etc/kibana/kibana.yml
#Adjust variables

    ES_CLUSTER_NAME: "Cluster-NAME"
    ES_NODE_NAME: "Node-Name"
    ES_NETWORK_HOST: "localhost"
    ES_HTTP_PORT: 9200

    KB_SERVER_PORT: 5601
    KB_SERVER_HOST: "0.0.0.0"
    KB_SERVER_NAME: "Srv-Name"
    HOSTNAME: "Hostname"
    ES_CERT_DIR: /PATHTO/certs
    ES_CERT: /PATHTO/elastic.crt
    ES_KEY: /PATHTO/elastic.key
    ES_CA: /PATHTO/roots.pem

    KB_CERT_DIR: /PATHTO/certs
    KB_CERT: /PATHTO/kibana.crt
    KB_KEY: /PATHTO/kibana.key
    KB_CA: /PATHTO/roots.pem

#---------------Certificate VAR--------------
    es_cert_dir: /PATHTO/certs
    es_fqdn: fqdn
    es_cert: elastic.crt
    es_key: elastic.key
    es_root_ca: roots.pem
    es_pass_jwk: pass_jwk.txt
    es_step_ca_url: https://yourAPI:port
    es_san_list:
        - FQDN
        - IP # If needed
    es_service_name: cert-renewer-elastic
    es_service_fullname: cert-renewer-elastic
    es_username: elasticsearch


    kb_cert_dir: /PATHTO/certs
    kb_fqdn: fqdn
    kb_cert: kibana.crt
    kb_key: kibana.key
    kb_root_ca: roots.pem
    kb_pass_jwk: pass_jwk.txt
    kb_step_ca_url: https://yourAPI:port
    kb_san_list:
        - FQDN
        - IP #if needed
    kb_service_name: cert-renewer-kibana
    kb_service_fullname: cert-renewer-kibana
    kb_username: kibana


  tasks:
    - name: Maj
      apt:
        update_cache: yes

    - name: Install depend
      apt:
        name:
          - apt-transport-https
          - curl
          - gnupg
          - gpg
          - ca-certificates
        state: present
        update_cache: yes

    - name: Key GPG Elastic
      get_url:
        url: https://artifacts.elastic.co/GPG-KEY-elasticsearch
        dest: /usr/share/keyrings/elasticsearch-keyring.gpg
        mode: '0644'

    - name: Elastic repo
      apt_repository:
        repo: "deb [signed-by=/usr/share/keyrings/elasticsearch-keyring.gpg] https://artifacts.elastic.co/packages/9.x/apt stable main"
        state: present
        filename: elasticsearch

    - name: Install Elasticsearch
      apt:
        name: elasticsearch
        state: present
        update_cache: yes

    - name: Install Kibana
      apt:
        name: kibana
        state: present
        update_cache: yes


#----------------------CONF FILES---------------------


    - name: Set cluster name
      ansible.builtin.lineinfile:
        path: "{{ ES_CONF }}"
        regexp: '^cluster.name:'
        line: "cluster.name: {{ ES_CLUSTER_NAME }}"
        create: yes
        backup: yes


    - name: Set network host
      ansible.builtin.lineinfile:
        path: "{{ ES_CONF }}"
        regexp: '^network.host:'
        line: "network.host: {{ ES_NETWORK_HOST }}"
        backup: yes

    - name: Set HTTP port
      ansible.builtin.lineinfile:
        path: "{{ ES_CONF }}"
        regexp: '^http.port:'
        line: "http.port: {{ ES_HTTP_PORT }}"
        backup: yes



    - name: Set Kibana server port
      ansible.builtin.lineinfile:
        path: "{{ KB_CONF }}"
        regexp: '^server.port:'
        line: "server.port: {{ KB_SERVER_PORT }}"
        create: yes
        backup: yes

    - name: Set Kibana server host
      ansible.builtin.lineinfile:
        path: "{{ KB_CONF }}"
        regexp: '^server.host:'
        line: "server.host: \"{{ KB_SERVER_HOST }}\""
        backup: yes

    - name: Set Kibana server name
      ansible.builtin.lineinfile:
        path: "{{ KB_CONF }}"
        regexp: '^server.name:'
        line: "server.name: \"{{ KB_SERVER_NAME }}\""
        backup: yes

    - name: Enable and restart services
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: yes
        state: restarted
        daemon_reload: yes
      loop:
        - elasticsearch
        - kibana
#--------------------Enrollment-----------------------


    - name: Copy script
      copy:
        src: files/setup_elastic_enrollment.sh
        dest: /usr/local/bin/setup_elastic_enrollment.sh
        mode: '0755'

    - name: Script exec
      command: /usr/local/bin/setup_elastic_enrollment.sh


#--------------------Certification--------------------


    - name: Add Smallstep GPG key
      ansible.builtin.get_url:
        url: https://packages.smallstep.com/keys/apt/repo-signing-key.gpg
        dest: /etc/apt/trusted.gpg.d/smallstep.asc
        mode: '0644'

    - name: Add Smallstep APT repository
      ansible.builtin.apt_repository:
        repo: "deb [signed-by=/etc/apt/trusted.gpg.d/smallstep.asc] https://packages.smallstep.com/stable/debian debs main"
        state: present
        filename: smallstep

    - name: Update APT cache after adding repository
      ansible.builtin.apt:
        update_cache: yes

    - name: Install step-cli
      ansible.builtin.apt:
        name: step-cli
        state: present


    - name: Ensure cert directory exists for Elasticsearch
      ansible.builtin.file:
          path: "{{ es_cert_dir }}"
          state: directory
          owner: elasticsearch
          group: "{{ es_username }}"
          mode: '0660'
          recurse: yes

    - name: Deploy CA for Elasticsearch
      ansible.builtin.copy:
          src: files/roots.pem
          dest: "{{ es_cert_dir }}/{{ es_root_ca }}"
          mode: '0644'

    - name: Deploy JWK Token for Elasticsearch
      ansible.builtin.copy:
          src: files/pass_jwk.txt
          dest: "{{ es_cert_dir }}/{{ es_pass_jwk }}"
          mode: '0644'

    - name: Generate Elasticsearch certificate
      ansible.builtin.command: >
          step ca certificate {{ es_fqdn }}
          {{ es_cert_dir }}/{{ es_cert }} {{ es_cert_dir }}/{{ es_key }}
          --provisioner acmejwk
          --provisioner-password-file {{ es_cert_dir }}/{{ es_pass_jwk }}
          --ca-url {{ es_step_ca_url }}
          --root {{ es_cert_dir }}/{{ es_root_ca }}
          {% for san in es_san_list %} --san {{ san }} {% endfor %}
          --force
      args:
          creates: "{{ es_cert_dir }}/{{ es_cert }}"

    - name: Deploy systemd service for Elasticsearch
      ansible.builtin.copy:
          src: files/{{ es_service_fullname }}.service
          dest: /etc/systemd/system/{{ es_service_fullname }}.service
          mode: '0644'

    - name: Deploy systemd timer for Elasticsearch
      ansible.builtin.copy:
          src: files/{{ es_service_fullname }}.timer
          dest: /etc/systemd/system/{{ es_service_fullname }}.timer
          mode: '0644'

    - name: Reload systemd
      ansible.builtin.systemd:
          daemon_reload: yes

    - name: Enable and start cert-renewer timer for Elasticsearch
      ansible.builtin.systemd:
          name: "{{ es_service_fullname }}.timer"
          enabled: yes
          state: started

    - name: Enable and start cert-renewer service for Elasticsearch
      ansible.builtin.systemd:
          name: "{{ es_service_fullname }}.service"
          enabled: yes
          state: started

    - name: Remove JWK password file after initial certificate creation for Elasticsearch
      ansible.builtin.file:
          path: '{{ es_cert_dir }}/{{ es_pass_jwk }}'
          state: absent

#For Kibana

    - name: Ensure cert directory exists for Kibana
      ansible.builtin.file:
          path: "{{ kb_cert_dir }}"
          state: directory
          owner: kibana
          group: "{{ kb_username }}"
          mode: '0660'
          recurse: yes

    - name: Deploy CA for Kibana
      ansible.builtin.copy:
          src: files/roots.pem
          dest: "{{ kb_cert_dir }}/{{ kb_root_ca }}"
          mode: '0644'

    - name: Deploy JWK Token for Kibana
      ansible.builtin.copy:
          src: files/pass_jwk.txt
          dest: "{{ kb_cert_dir }}/{{ kb_pass_jwk }}"
          mode: '0644'

    - name: Generate Kibana certificate
      ansible.builtin.command: >
          step ca certificate {{ kb_fqdn }}
          {{ kb_cert_dir }}/{{ kb_cert }} {{ kb_cert_dir }}/{{ kb_key }}
          --provisioner acmejwk
          --provisioner-password-file {{ kb_cert_dir }}/{{ kb_pass_jwk }}
          --ca-url {{ kb_step_ca_url }}
          --root {{ kb_cert_dir }}/{{ kb_root_ca }}
          {% for san in kb_san_list %} --san {{ san }} {% endfor %}
          --force
      args:
          creates: "{{ kb_cert_dir }}/{{ kb_cert }}"

    - name: Deploy systemd service for Kibana
      ansible.builtin.copy:
          src: files/{{ kb_service_fullname }}.service
          dest: /etc/systemd/system/{{ kb_service_fullname }}.service
          mode: '0644'

    - name: Deploy systemd timer for Kibana
      ansible.builtin.copy:
          src: files/{{ kb_service_fullname }}.timer
          dest: /etc/systemd/system/{{ kb_service_fullname }}.timer
          mode: '0644'

    - name: Reload systemd
      ansible.builtin.systemd:
          daemon_reload: yes

    - name: Enable and start cert-renewer timer for Kibana
      ansible.builtin.systemd:
          name: "{{ kb_service_fullname }}.timer"
          enabled: yes
          state: started

    - name: Enable and start cert-renewer service for Kibana
      ansible.builtin.systemd:
          name: "{{ kb_service_fullname }}.service"
          enabled: yes
          state: started

    - name: Remove JWK password file after initial certificate creation for Kibana
      ansible.builtin.file:
          path: '{{ kb_cert_dir }}/{{ kb_pass_jwk }}'
          state: absent



#-------------------Access------------------------

    - name: Ensure Elasticsearch config directory ownership
      ansible.builtin.file:
        path: /etc/elasticsearch
        state: directory
        recurse: yes
        owner: root
        group: elasticsearch
        mode: '0750'

    - name: Set Elasticsearch certs directory permissions
      ansible.builtin.file:
        path: /etc/elasticsearch/certs
        state: directory
        owner: root
        group: elasticsearch
        mode: '0750'

    - name: Find all Elasticsearch cert files
      ansible.builtin.find:
        paths: /etc/elasticsearch/certs
        file_type: file
      register: es_cert_files

    - name: Set permissions on Elasticsearch cert files
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: root
        group: elasticsearch
        mode: '0640'
      loop: "{{ es_cert_files.files }}"

    - name: Set Elasticsearch roots.pem permissions
      ansible.builtin.file:
        path: /etc/elasticsearch/certs/roots.pem
        owner: root
        group: elasticsearch
        mode: '0644'




    - name: Ensure Kibana config directory ownership
      ansible.builtin.file:
        path: /etc/kibana
        state: directory
        recurse: yes
        owner: root
        group: kibana
        mode: '0750'

    - name: Set Kibana certs directory permissions
      ansible.builtin.file:
        path: /etc/kibana/certs
        state: directory
        owner: root
        group: kibana
        mode: '0750'

    - name: Find all Kibana certs files
      ansible.builtin.find:
        paths: /etc/kibana/certs
        file_type: file
      register: kb_cert_files

    - name: Set permissions on kibana cert files
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: root
        group: kibana
        mode: '0640'
      loop: "{{ kb_cert_files.files }}"

    - name: Set Kibana roots.pem permissions
      ansible.builtin.file:
        path: /etc/kibana/certs/roots.pem
        owner: root
        group: kibana
        mode: '0644'


#---------------------TLS Configuration EK---------------------


    - name: Remove old Elasticsearch HTTP SSL block
      ansible.builtin.replace:
        path: /etc/elasticsearch/elasticsearch.yml
        regexp: '^xpack\.security\.http\.ssl:.*(\n\s+.*)*'
        replace: ''

    - name: Remove old Elasticsearch Transport SSL block
      ansible.builtin.replace:
        path: /etc/elasticsearch/elasticsearch.yml
        regexp: '^xpack\.security\.transport\.ssl:.*(\n\s+.*)*'
        replace: ''

    - name: Set NodeName
      ansible.builtin.lineinfile:
        path: "{{ ES_CONF }}"
        regexp: '^node.name:'
        line: "node.name: {{ ES_NODE_NAME }}"
        backup: yes

    - name: Add new Elasticsearch SSL config
      ansible.builtin.blockinfile:
        path: /etc/elasticsearch/elasticsearch.yml
        marker: "# {mark} Managed by Ansible - SSL Config"
        block: |
            xpack.security.http.ssl.enabled: true
            xpack.security.transport.ssl.enabled: true
            xpack.security.http.ssl.key: "{{ ES_KEY }}"
            xpack.security.http.ssl.certificate: "{{ ES_CERT }}"
            xpack.security.http.ssl.certificate_authorities: "{{ ES_CA }}"
            xpack.security.transport.ssl.key: "{{ ES_KEY }}"
            xpack.security.transport.ssl.certificate: "{{ ES_CERT }}"
            xpack.security.transport.ssl.certificate_authorities: "{{ ES_CA }}"
            discovery.seed_hosts: [ "{{ HOSTNAME }}" ]

    - name: Set Kibana Elasticsearch hosts
      ansible.builtin.lineinfile:
        path: /etc/kibana/kibana.yml
        regexp: '^elasticsearch.hosts:'
        line: 'elasticsearch.hosts: [ "https://{{ HOSTNAME }}:9200" ]'
        state: present

    - name: Enable Kibana SSL
      ansible.builtin.lineinfile:
        path: /etc/kibana/kibana.yml
        regexp: '^server.ssl.enabled:'
        line: 'server.ssl.enabled: true'
        state: present

    - name: Set Kibana SSL certificate
      ansible.builtin.lineinfile:
        path: /etc/kibana/kibana.yml
        regexp: '^server.ssl.certificate:'
        line: 'server.ssl.certificate: "{{ KB_CERT }}"'
        state: present

    - name: Set Kibana SSL key
      ansible.builtin.lineinfile:
        path: /etc/kibana/kibana.yml
        regexp: '^server.ssl.key:'
        line: 'server.ssl.key: "{{ KB_KEY }}"'
        state: present

    - name: Set Kibana CA certificate
      ansible.builtin.lineinfile:
        path: /etc/kibana/kibana.yml
        regexp: '^elasticsearch.ssl.certificateAuthorities:'
        line: 'elasticsearch.ssl.certificateAuthorities: [ "{{ KB_CA }}" ]'
        state: present


    - name: Restart Elasticsearch service
      ansible.builtin.service:
        name: elasticsearch
        state: restarted

    - name: Restart Kibana service
      ansible.builtin.service:
        name: kibana
        state: restarted
