- name: Install Elastic and Kibana
  hosts: hosts
  become: yes

  vars:
#---------------Conf VAR--------------------
    ES_CONF: /etc/elasticsearch/elasticsearch.yml
    KB_CONF: /etc/kibana/kibana.yml
#Adjust variables

    ES_CLUSTER_NAME: "Cluster-NAME"
    ES_NODE_NAME: "Node-Name"
    ES_NETWORK_HOST: "localhost"
    ES_HTTP_PORT: 9200

    KB_SERVER_PORT: 5601
    KB_SERVER_HOST: "0.0.0.0"
    KB_SERVER_NAME: "Srv-Name"
    HOSTNAME: "Hostname"



  tasks:
    - name: Maj
      apt:
        update_cache: yes

    - name: Install depend
      apt:
        name:
          - apt-transport-https
          - curl
          - gnupg
          - gpg
          - ca-certificates
        state: present
        update_cache: yes

    - name: Key GPG Elastic
      get_url:
        url: https://artifacts.elastic.co/GPG-KEY-elasticsearch
        dest: /usr/share/keyrings/elasticsearch-keyring.gpg
        mode: '0644'

    - name: Elastic repo
      apt_repository:
        repo: "deb [signed-by=/usr/share/keyrings/elasticsearch-keyring.gpg] https://artifacts.elastic.co/packages/9.x/apt stable main"
        state: present
        filename: elasticsearch

    - name: Install Elasticsearch
      apt:
        name: elasticsearch
        state: present
        update_cache: yes

    - name: Install Kibana
      apt:
        name: kibana
        state: present
        update_cache: yes


#----------------------CONF FILES---------------------


    - name: Set cluster name
      ansible.builtin.lineinfile:
        path: "{{ ES_CONF }}"
        regexp: '^cluster.name:'
        line: "cluster.name: {{ ES_CLUSTER_NAME }}"
        create: yes
        backup: yes


    - name: Set network host
      ansible.builtin.lineinfile:
        path: "{{ ES_CONF }}"
        regexp: '^network.host:'
        line: "network.host: {{ ES_NETWORK_HOST }}"
        backup: yes

    - name: Set HTTP port
      ansible.builtin.lineinfile:
        path: "{{ ES_CONF }}"
        regexp: '^http.port:'
        line: "http.port: {{ ES_HTTP_PORT }}"
        backup: yes



    - name: Set Kibana server port
      ansible.builtin.lineinfile:
        path: "{{ KB_CONF }}"
        regexp: '^server.port:'
        line: "server.port: {{ KB_SERVER_PORT }}"
        create: yes
        backup: yes

    - name: Set Kibana server host
      ansible.builtin.lineinfile:
        path: "{{ KB_CONF }}"
        regexp: '^server.host:'
        line: "server.host: \"{{ KB_SERVER_HOST }}\""
        backup: yes

    - name: Set Kibana server name
      ansible.builtin.lineinfile:
        path: "{{ KB_CONF }}"
        regexp: '^server.name:'
        line: "server.name: \"{{ KB_SERVER_NAME }}\""
        backup: yes

    - name: Enable and restart services
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: yes
        state: restarted
        daemon_reload: yes
      loop:
        - elasticsearch
        - kibana
#--------------------Enrollment-----------------------


    - name: Copy script
      copy:
        src: files/setup_elastic_enrollment.sh
        dest: /usr/local/bin/setup_elastic_enrollment.sh
        mode: '0755'

    - name: Script exec
      command: /usr/local/bin/setup_elastic_enrollment.sh


#-------------------Access------------------------

    - name: Ensure Elasticsearch config directory ownership
      ansible.builtin.file:
        path: /etc/elasticsearch
        state: directory
        recurse: yes
        owner: root
        group: elasticsearch
        mode: '0750'



    - name: Ensure Kibana config directory ownership
      ansible.builtin.file:
        path: /etc/kibana
        state: directory
        recurse: yes
        owner: root
        group: kibana
        mode: '0750'

#-------------------Services------------------------

    - name: Restart Elasticsearch service
      ansible.builtin.service:
        name: elasticsearch
        state: restarted

    - name: Restart Kibana service
      ansible.builtin.service:
        name: kibana
        state: restarted
